<div class="mdl-layout mdl-js-layout">
    <header "mdl-layout__header">
        <div class="mdl-layout__header-row default-primary-color">
            <div class="mdl-layout-spacer"></div>
            <h1 class="mdl-layout-title">&#934-ture</h1>
            <div class="mdl-layout-spacer"></div>
        </div>
    </header>
    <main class="mdl-layout__content">
        <div class="page-content">
            <div class="mdl-card mdl-shadow--2dp mdl-card__wide mdl-card__center">
                <div class="mdl-card__title mdl-card--border accent-color">
                    <h2 class="mdl-card__title-text">Welcome to &#934-ture!</h2>
                </div>
                <div class="mdl-card__supporting-text">
                    We at &#934-ture understand that you as an event organizer want to have the best acts on game day. So you've been busy emailing away to dancers, singers, and performers alike. And you've been waiting patiently for their response. </br>

                    But we also understand that as a performing arts individual or group, it's remarkably easy to lose an email here or there, or forget to respond to someone's request. Everyone's busy, we get it! </br>

                    It's our job to make your lives easier and to consolidate this ridiculous process of emailing groups and organizers back and forth. Why stay in the stone age of email, when you can use &#934-ture!
                </div>
            </div>

            <div class="mdl-card mdl-shadow--2dp mdl-card__extra-wide mdl-card__center">
                <div class="mdl-card__title mdl-card--border accent-color">
                    <h2 class="mdl-card__title-text">What is &#934-ture?</h2>
                </div>
                <div class="mdl-card__supporting-text">
                    &#934-ture (pronounced "feature") is the next way to get great dancers, singers, and other performers to your event, hassle free. At the same time, &#934-ture makes handling performance requests easy for the performers! &#934-ture does away with the archaic email process and brings everything within its own realm.
                </div>
            </div>

            <div class="mdl-card mdl-shadow--2dp mdl-card__center mdl-card__wide">
                <div class="mdl-card__title mdl-card--border accent-color">
                    <h2 class="mdl-card__title-text">Get Started With &#934-ture Today!</h2>
                </div>
                <div class="mdl-card__actions">
                    <div class="mdl-card__login">
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" ng-click="clientLoginRedirect()">
                          Client Login
                        </button>
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" ng-click="performerLoginRedirect()">
                          Performer Login
                        </button>
                    </div>
                    <div class="mdl-card__login">
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" ng-click="clientSignupRedirect()">
                          Client Registration
                        </button>
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" ng-click="performerSignupRedirect()">
                          Performer Registration
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
