<div class="mdl-layout mdl-js-layout">
    <header class="mdl-layout__header">
        <div class="mdl-layout-icon"></div>
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title">Phiture</span>
            <div class="mdl-layout-spacer"></div>
        </div>
        <!-- Tabs -->
        <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
          <a href="#activeRequests" class="mdl-layout__tab is-active">Active Requests</a>
          <a href="#requestHistory" class="mdl-layout__tab">Request History</a>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Welcome {{ user.name }}!</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" ng-click="settings()">Settings</a>
            <a class="mdl-navigation__link" ng-click"logout()">Logout</a>
        </nav>
    </div>
    <main class="mdl-layout__content">
        <section class="mdl-layout__tab-panel is-active" id="activeRequests">
          <div class="page-content">
              <h2>Active Requests</h2>
          </div>
        </section>
        <section class="mdl-layout__tab-panel" id="requestHistory">
          <div class="page-content">
              <h2>Request History</h2>
          </div>
        </section>
    </main>
</div>
